.radioInput {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: bold;
}

.radio-input-button{
  margin-right: 10px;
}

.disabled-button{
  color:gray
}